<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <!--加载单个的mapper.xml文件-->
        <!--<mapper resource="smbms/dao/UserMapper.xml"/>-->
       <!-- 扫描指定路径中的mapper文件-->
        <package name="cn/com/guimei/dao"/>
    </mappers>
</configuration>